
body {background-color: lightblue;}

h1 {font-size: 40px;
    font-style: bold;
    font-variant-caps: all-small-caps;
    text-align-last: center;
    color: white;
    background-color: black;
}

h2 {font-size: 30px;
    font-style: bold;
    font-variant-caps: all-small-caps;
}


img {border: 5px solid; 
    background-color : white;
    color: white;
    padding: 5px;
}

pre {font-size: 15px;}
 
a {text-decoration: none;
    color: black;
    font-weight: bold;
}

.panel {color: white; background-color: blueviolet;
    font-size: 18px;font-weight: bold; 
    text-align: center;
}

head, body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    


