
/* General Items */
head, body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f7f7f7;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

p{  color: black;
    font-size: 1.6vw;
    line-height: 15px;
}

a{  text-decoration: none;
    color: black;
}

.footer{
  display: flex;
  justify-content: center;
  gap: 1%
}

hr{border-top: 2px solid black;}

img.logo{
    height: auto;
    width: 15%;
}

span.top{
    margin-left: 0%;
    background-color: #f7f7f7;
    align-self: center;
}

a.menu{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

hr.top{
    margin-top: 1%;
}

br.no{line-height: 250%;}

/* IDs */
#cursor{cursor: pointer;}

#heading{
    font-weight: bold;
    font-size: 2vw;
}

/* Reset & base styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: purple;
  color: white;
  padding: 10px 15px;
  position: relative;
}

/* Hamburger */
.hamburger {
  font-size: 40px;
  cursor: pointer;
}

/* Center Text */
.nav-text {
  text-align: center;
  flex: 1;
  font-weight: bold;
  font-size: 3vw;
}

/* Right Image */
.nav-image img {
  width: 180px;
}

/* Side Nav (hidden by default) */
.side-nav {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 15%;
  background: rgba(255,255,255,0.4);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.2);
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  transition: left 0.3s ease;
}

.side-nav a {
  padding: 12px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  transition: background 0.2s;
}

.side-nav a:hover {
  background-color: #555;
}

/* Open menu */
.side-nav.open {
  left: 0;
}

/* Responsive */
@media (max-width: 600px) {
  .nav-text {
    font-size: 16px;
    
  }

  .nav-image img {
    width: 30px;
    height: 30px;
  }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: black;
  justify-content: center;
}

#resume-head{
  text-align: center;
  font-size: 2.2vw;
  background-color: silver;
}

.resume-details{
  background-color: silver;
  margin-left: 5%;
  font-weight: bold;
}

.resume-left{
  margin-left: 7%;
  text-align: left;
  font-size: 2vw;
}

.resume-right{ 
  text-align: right;
}


